{#
/**
 * @file desktime.html.twig
 * Default theme implementation to present Desktime data.
 *
 * This template is used when viewing Desktime pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_desktime()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('desktime') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
