<style>

  .desktime-container {
    width: 283px;
    margin: 0 auto;
    padding-top: 39px;
  }

  .desktime-widget {
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .desktime-section:first-child {
    border-radius: 5px 5px 0 0;
  }

  /*
   * Graph section
   */
  .section-graph {
    position: relative;
    height: 100px;
    color: #fff;
    background: #55bc75;
    background-image: linear-gradient(#55bc75, #55bc75 55%, #4daf7c 50%);
  }
  .section-graph .graph-info {
    z-index: 99;
    position: absolute;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 21px;
    width: 100%;
  }
  .section-graph .graph-info .graph-arrow {
    width: 0;
    height: 0;
    margin-top: 18px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid white;
    float: left;
  }
  .section-graph .graph-info .graph-info-big {
    font-size: 24px;
    float: left;
    margin-left: 3px;
  }
  .section-graph .graph-info .graph-info-small {
    margin-left: 3px;
    font-size: 12px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    clear: left;
    margin-left: 8px;
  }

  /*
   * Info Section
   */
  h3 {
    font-size: 18px;
    margin-top: 2px;
  }

  h4 {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .section-info {
    padding: 21px 21px 41px;
    color: #8a786a;
    overflow: hiddenx;
  }

  .info-time {
    font-size: 12px;
  }

  .info-block {
    background-color: #f5f0ec;
    text-align: center;
    width: 120px;
    border-radius: 3px;
    float: left;
    padding: 4px 0;
  }
  .info-block.last {
    margin-left: 1px;
  }
  .info-block dt, .info-block dd {
    margin: 0;
    padding: 0;
  }
  .info-block dt {
    font-weight: bold;
  }
  .info-block dd {
    font-size: 12px;
  }

  .info-aapl {
    float: left;
  }
  .info-aapl ul {
    margin: 0;
    padding: 0;
  }
  .info-aapl li {
    margin: 0;
    display: block;
    width: 9px;
    height: 40px;
    margin-right: 6px;
    background-color: #f5f0ec;
    float: left;
    position: relative;
  }
  .info-aapl li span {
    display: block;
    width: 9px;
    height: 40px;
    position: absolute;
    bottom: 0;
  }
  .info-aapl li span.orange {
    background-color: #e75e3a;
  }
  .info-aapl li span.green {
    background-color: #4eaf7c;
  }

  .yearly-change {
    width: 94px;
    float: right;
  }
  .yearly-change span {
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #4eaf7c;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
  }
  .yearly-change span em {
    color: rgba(255, 255, 255, 0.7);
  }

  .tooltip-toggle {
    position: relative;
  }
  .tooltip-toggle svg {
    height: 18px;
    width: 18px;
  }
  .tooltip-toggle::before {
    position: absolute;
    top: -42px;
    left: -80px;
    background-color: #2B222A;
    border-radius: 5px;
    color: #fff;
    content: attr(aria-label);
    padding: 0.2rem;
    text-transform: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 240px;
    z-index:9999;
  }
  .tooltip-toggle::after {
    position: absolute;
    top: -12px;
    left: 9px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2B222A;
    content: " ";
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0;
  }
  .tooltip-toggle::before, .tooltip-toggle::after {
    color: #efefef;
    font-family: monospace;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
  }
  .tooltip-toggle:focus::before, .tooltip-toggle:focus::after, .tooltip-toggle:hover::before, .tooltip-toggle:hover::after {
    opacity: 1;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  .desktime-page-block{width:50%;display:block;float:left;}
  .desktime-report-row{margin:12px 0;background: white; border-radius: 5px; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);}
  .desktime-report-row::after{content:" ";clear:both;display:block;}
  .desktime-report-row div{display:block;float:left;padding:12px;min-width:80px;text-align:center;}
  .desktime-report-row div.date{color:#8a786a;background-color:#f5f0ec;min-width:180px;}
  .desktime-report-row div.productive,
  .desktime-report-row div.desktime{background:#e8c5c5}
  .desktime-report-row div.minimum{background-color:#e8e0c5}
  .desktime-report-row div.target{background-color:#c5e8d0}
</style>

<div class="desktime-page-block">
  <div class="desktime-report-row">
    <div class="date">
      {{ 'Day'|t }}
    </div>
    <div>
      {{ 'Productive'|t }}
    </div>
    <div>
      {{ 'Desk time'|t }}
    </div>
  </div>

  {% if data.report_days %}
  {% for day in data.report_days %}
    <div class="desktime-report-row">
      <div class="date">
        {{ day.day }},
        {{ day.date }}
      </div>
      <div class="productive{% if day.productive.minimum == 1 %} minimum{% endif %}{% if day.productive.target == 1 %} target{% endif %}">
        {{ day.productive.time }}
      </div>
      <div class="desktime{% if day.desktime.minimum == 1 %} minimum{% endif %}{% if day.desktime.target == 1 %} target{% endif %}">
        {{ day.desktime.time }}
      </div>
    </div>
  {% endfor %}
  {% endif %}

  {% if data.report_short %}
    <div class="desktime-report-row">
      <div class="date">
        {{ 'Time short'|t }}
      </div>
      <div class="productive{% if data.report_short.productive.minimum.seconds == 0 %} target{% endif %}">
        {{ data.report_short.productive.minimum.hours }}
      </div>
      <div class="desktime{% if data.report_short.desktime.minimum.seconds == 0 %} target{% endif %}">
        {{ data.report_short.desktime.minimum.hours }}
      </div>
    </div>
  {% endif %}
</div>

<div class="desktime-page-block">
  <div class="desktime-container">
    <div class="desktime-widget">

      <div class="desktime-section section-graph">
        <div class="graph-info">
          <span class="graph-info-big">{{ data.report_score.combined }}%</span><br /><br />
          <span class="graph-info-small">
            {% if data.desktime_user %} {{ data.desktime_user.name }} {% endif %}
          </span>
        </div>
      </div>

      <div class="desktime-section section-info">
        <div class="info-block">
          <dl>
            <dt>{{ data.report_score.productive }}%</dt>
            <dd>Productive</dd>
          </dl>
        </div>

        <div class="info-block last">
          <dl>
            <dt>{{ data.report_score.desktime }}%</dt>
            <dd>Desktime</dd>
          </dl>
        </div>

        <div class="info-aapl" style="clear:both">
          <h4>Productive</h4>
          <ul>
            {% for dimension in data.report_dimension %}
              {% if dimension.productive.scaled > 80 %}
                <li><span class="green tooltip-toggle" style="height: {{ dimension.productive.scaled_precious }}%" aria-label="{{ dimension.day }}, {{ dimension.date }} (%{{ dimension.productive.scaled }})"></span></li>
              {% else %}
                <li><span class="orange tooltip-toggle" style="height: {{ dimension.productive.scaled_precious }}%" aria-label="{{ dimension.day }}, {{ dimension.date }} (%{{ dimension.productive.scaled }})"></span></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="info-aapl" style="clear:both">
          <h4>Desktime</h4>
          <ul>
            {% for dimension in data.report_dimension %}
              {% if dimension.desktime.scaled > 80 %}
                <li><span class="green tooltip-toggle" style="height: {{ dimension.desktime.scaled_precious }}%" aria-label="{{ dimension.date }} (%{{ dimension.desktime.scaled }})"></span></li>
              {% else %}
                <li><span class="orange tooltip-toggle" style="height: {{ dimension.desktime.scaled_precious }}%" aria-label="{{ dimension.date }} (%{{ dimension.desktime.scaled }})"></span></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <HR style="clear:both">
      </div>

      <div class="desktime-section"></div>
    </div>
  </div>
</div>